fastapi
uvicorn
xgboost
numpy<2.0.0
langchain
langchain-huggingface
langchain-community
langchain-google-genai
faiss-cpu
transformers==4.43.3
sentence-transformers==3.0.1
langchain-core
pandas
pydantic
google-cloud-bigquery